section{
    width: 50%;
    margin: auto;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
}
.message{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.message span{
    background-color: #bdc3c7;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.message p{
    padding: 5px 10px;
    margin: 0px;
}
#message_input{
    width: 50%;
    margin: 5px calc(25% - 5px);
    border: none;
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: 10px 5px;
    outline: none;
    box-sizing: border-box;
}


