@font-face {
	font-family: 'fa';
	src: url('../../font/main_font.woff') format('woff');
}
body{	
	font-family: fa;
	direction: rtl;
	font-size: 16px;
	margin: 0px;
}
*{
	font-family: inherit;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style-type: none;
	padding: 0px;
}
form{
	width: 50%;
	margin: 20px auto;
}
input{
	width: 100%;
	height: 40px;
	padding: 10px;
	border: none;
	border: 1px solid #CCC;
	border-radius: 10px;
	outline: none;
	margin: 5px 0px;
}
button{
	width: 50%;
	border: none;
	background-color: #2ecc71;
	color: #FFF;
	float: right;
	font-size: 1.2em;
	border-radius: 10px;
	cursor: pointer;
	margin: 5px;

}
button:hover{
	background-color: #27ae60;
	transition: .5s;
}
.alert{
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: #00000065;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	float: left;
}
.alert .message{
	padding: 10px;
	background-color: #FFF;
	border-radius: 15px;
	border: 3px solid #CCC;
}
.alert.success .message{
	border-color: #27ae60;
}
.alert.fail .message{
	border-color: #c0392b;
}

aside{
	background-color: #ededed;
	float: right;
	width: 20%;
	height: 100vh;
	padding: 5px 10px;
}
aside header{
	width: 100%;
    padding-bottom: 0px;
    text-align: center;
    font-size: 1.5em;
}
aside header span{
	border-bottom: 1px dashed #CCC;
}
aside ul{
	width: 100%;
}
aside ul li{
	width: 100%;
	text-align: center;
	padding: 4px 0px;
	margin: 2px 0px;
	border-radius: 5px;
}
aside ul li:hover{
	transition: 0.5s;
	box-shadow:#ccc 0 0 5px;
}
aside ul li a{
	display: block;
}
main{
	float: right;
	width: 80%;
	padding: 5px 10px;
}
main h1{
	text-align: center;
	width: 100%;
	float: right;
	padding: 5px;
	border-bottom: 1px dashed #CCC;
	margin-bottom: 10px;
}
