@font-face {
	font-family: 'fa';
	src: url('../../font/main_font.woff') format('woff');
}
body{	
	font-family: fa;
	direction: rtl;
	font-size: 16px;
	margin: 0px;
}
*{
	font-family: inherit;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style-type: none;
	padding: 0px;
}
form{
	width: 50%;
	margin: 20px auto;
}
input, textarea, select{
	width: 100%;
	height: 40px;
	padding: 10px;
	border: none;
	border: 1px solid #CCC;
	border-radius: 10px;
	outline: none;
	margin: 5px 0px;
}
textarea{
	min-height: 150px;
}
button{
	width: 48%;
	border: none;
	background-color: #2ecc71;
	color: #FFF;
	font-size: 1.2em;
	border-radius: 10px;
	cursor: pointer;
	margin: 5px;

}
button:hover{
	background-color: #27ae60;
	transition: .5s;
}
.btn-table{
	padding: 5px;
    background: #e67e22;
    color: #FFF;
    border-radius: 8px;
	display: inline-block;
    margin: 3px;
}
.btn-table.red{
	background-color: #e74c3c;
}
.btn-table.green{
	background-color: #2ecc71;
}
.alert{
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: #00000065;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	float: left;
}
.alert .message{
	padding: 10px;
	background-color: #FFF;
	border-radius: 15px;
	border: 3px solid #CCC;
}
.alert.success .message{
	border-color: #27ae60;
}
.alert.fail .message{
	border-color: #c0392b;
}

aside{
	background-color: #ededed;
	float: right;
	width: 20%;
	height: 100vh;
	padding: 5px 10px;
	position: fixed;
}
aside header{
	width: 100%;
    padding-bottom: 0px;
    text-align: center;
    font-size: 1.5em;
}
aside header span{
	border-bottom: 1px dashed #CCC;
}
aside ul{
	width: 100%;
}
aside ul li{
	width: 100%;
	text-align: center;
	padding: 4px 0px;
	margin: 2px 0px;
	border-radius: 5px;
}
aside ul li:hover{
	transition: 0.5s;
	box-shadow:#ccc 0 0 5px;
}
aside ul li a{
	display: block;
}
main{
	float: right;
	width: 80%;
	padding: 5px 10px;
	margin-right: 20%;
	padding-bottom: 25px;
}
main h1{
	text-align: center;
	width: 100%;
	float: right;
	padding: 5px;
	border-bottom: 1px dashed #CCC;
	margin-bottom: 10px;
}
form h1{
	text-align: center;
}

.profile-image{
	width: 100px;
    height: 100px;
    margin: 10px calc(50% - 50px);
    border-radius: 100px;
}


/***** Table ****/

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
  }
  
  table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
  }
  
  table tr {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: .35em;
  }
  
  table th,
  table td {
	padding: .625em;
	text-align: center;
  }
  table tr td img{
		width: 200px;
		border-radius: 15px;
		border: 3px solid #e78181;
	}
  table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
	table {
	  border: 0;
	}
  
	table caption {
	  font-size: 1.3em;
	}
	
	table thead {
	  border: none;
	  clip: rect(0 0 0 0);
	  height: 1px;
	  margin: -1px;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: 1px;
	}
	
	table tr {
	  border-bottom: 3px solid #ddd;
	  display: block;
	  margin-bottom: .625em;
	}
	
	table td {
	  border-bottom: 1px solid #ddd;
	  display: block;
	  font-size: .8em;
	  text-align: right;
	}
	

	table td::before {
	  /*
	  * aria-label has no advantage, it won't be read inside a table
	  content: attr(aria-label);
	  */
	  content: attr(data-label);
	  float: left;
	  font-weight: bold;
	  text-transform: uppercase;
	}
	
	table td:last-child {
	  border-bottom: 0;
	}
  }