@font-face {
	font-family: 'fa';
	src: url('../../font/main_font.woff') format('woff');
}
body{	
	font-family: fa;
	direction: rtl;
	font-size: 16px;
}
*{
	font-family: inherit;
	box-sizing: border-box;
}
form{
	width: 50%;
	margin: 20px auto;
}
input{
	width: 100%;
	height: 40px;
	padding: 10px;
	border: none;
	border: 1px solid #CCC;
	border-radius: 10px;
	outline: none;
	margin: 5px 0px;
}
button{
	width: 50%;
	border: none;
	background-color: #2ecc71;
	color: #FFF;
	float: right;
	font-size: 1.2em;
	border-radius: 10px;
	cursor: pointer;
	margin: 5px;
}
button:hover{
	background-color: #27ae60;
	transition: .5s;
}
.alert{
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: #00000065;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	float: left;
}
.alert .message{
	padding: 10px;
	background-color: #FFF;
	border-radius: 15px;
	border: 3px solid #CCC;
}
.alert.success .message{
	border-color: #27ae60;
}
.alert.fail .message{
	border-color: #c0392b;
}